<ion-header>
  <ion-navbar color="primary">
    <ion-title>Dynamic Control</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding class="wrap">
    <div *ngFor="let color of availableColors" class="color-div">
      <button [disabled]="colorButtonsInactive" ion-button block [style.border]="selectedColor == color ? '4px solid black' : ''"
        color="{{color}}" (click)="selectedColor = color">
        {{color.toUpperCase()}}
      </button>
    </div>
  </div>

  <ion-list>
    <ion-item color="white">
      <ion-label color="dark">Starting At</ion-label>
      <ion-select text-right color="white" [(ngModel)]="startAt" placeholder="Select...">
        <ion-option *ngFor="let opt of startAtOptions">{{opt}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="white">
      <ion-label color="dark">Direction Change Delay</ion-label>
      <ion-input text-right type="number" placeholder="Enter..." [(ngModel)]="chgDelay" (tap)="chgDelay = null"></ion-input>
      <h4 item-end color="dimgray">sec</h4>
    </ion-item>
  </ion-list>

  <div class="sep"></div>

  <ion-row>
    <ion-col margin-left>
      <strong>BACKWARD</strong>
    </ion-col>
    <ion-col margin-left>
      <strong>FORWARD</strong>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-item no-lines>
          <ion-label stacked>Speed</ion-label>
          <ion-input class="white-field" type="number" [(ngModel)]="backwardSpeed" text-right placeholder="Enter..." (tap)="backwardSpeed = null"></ion-input>
          <ion-select class="white-field" margin-top text-right [(ngModel)]="backwardSpeedUnit">
            <ion-option *ngFor="let s of speedUnitOptions">{{s}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <button block clear color="red" ion-button icon-only (click)="decrement('bwd')">
            <ion-icon name="md-remove"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button block clear color="primary" ion-button icon-only (click)="increment('bwd')">
            <ion-icon name="md-add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-item no-lines>
          <ion-label stacked>Speed</ion-label>
          <ion-input class="white-field" type="number" [(ngModel)]="forwardSpeed" text-right placeholder="Enter..." (tap)="forwardSpeed = null"></ion-input>
          <ion-select class="white-field" margin-top text-right [(ngModel)]="forwardSpeedUnit">
            <ion-option *ngFor="let s of speedUnitOptions">{{s}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <button block clear color="red" ion-button icon-only (click)="decrement('fwd')">
            <ion-icon name="md-remove"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button block clear color="primary" ion-button icon-only (click)="increment('fwd')">
            <ion-icon name="md-add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <div class="sep-mini"></div>

  <ion-row>
    <ion-col>
      <button ion-button block icon-left>
        <ion-icon name="arrow-back"></ion-icon> BWD</button>
    </ion-col>
    <ion-col>
      <button ion-button block color="lightorange">
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button block icon-right>FWD
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <button ion-button icon-left color="red" class="button-80">
      <ion-icon name="repeat"> Reset</ion-icon>
    </button>
  </ion-row>

</ion-content>