<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{pageTitle}}
    </ion-title>
    <ion-buttons end>
      <button ion-button color="white" (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>

  <div class="sep-mini"></div>

  <ion-item color="white" no-lines>
    <ion-label color="dark">Rep Type</ion-label>
    <ion-select [(ngModel)]="selectedRepType" placeholder="Select..." (ionChange)="repTypeChange($event)">
      <ion-option>Linear Sprint</ion-option>
      <ion-option *ngFor="let r of dataService.savedData.contents.savedRepTypes">{{r}}</ion-option>
      <ion-option>Create New Type...</ion-option>
    </ion-select>
  </ion-item>

  <div class="sep"></div>
  <div class="sep"></div>


  <!-- LINEAR SPRINT -->
  <div *ngIf="selectedRepType == 'Linear Sprint'">
    <ion-list-header color="mediumgray">
      <strong>{{selectedRepType.toUpperCase()}}</strong>
    </ion-list-header>

    <div padding-left padding-right class="wrap">
      <div *ngFor="let color of dataService.colors" class="color-div">
        <button ion-button block [style.border]="linearSprint.color == color ? '4px solid black' : ''" color="{{color}}" (click)="linearSprint.color = color">
          <strong>{{color.toUpperCase()}}</strong>
        </button>
      </div>
    </div>

    <div class="sep"></div>

    <ion-item color="white">
      <ion-label color="dark">Distance</ion-label>
      <ion-select [(ngModel)]="linearSprint.distance" placeholder="Select...">
        <ion-option *ngFor="let dist of dataService.distanceOptions">{{dist}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="white">
      <ion-label color="dark">Speed</ion-label>
      <ion-input style="margin-left: 11px" text-right type="number" placeholder="Enter..." [(ngModel)]="linearSprint.speed"></ion-input>
      <ion-select [(ngModel)]="linearSprint.speedUnit">
        <ion-option *ngFor="let s of dataService.speedUnitOptionsWithSecs">{{s}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- ALL OTHERS (MULTI-SEGMENT) -->
  <div *ngIf="selectedRepType.length && selectedRepType != 'Linear Sprint' && selectedRepType != 'Create New Type...' ">
    <ion-list-header color="mediumgray">
      <strong>{{selectedRepType.toUpperCase()}}</strong>
      <button ion-button icon-only item-end clear color="white" (click)="openRepActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-list-header>

    <div class="sep-mini"></div>
    <ion-item color="white">
      <ion-label color="dark">Enter Segment Speeds Individually</ion-label>
      <ion-toggle [(ngModel)]="multiSegRep.individualSpeeds" (ionChange)="indvSpeedToggle()"></ion-toggle>
    </ion-item>

    <div class="sep-mini"></div>
    <ion-list>
      <ion-item color="white">
        <ion-label>Starting At</ion-label>
        <h2 item-right>{{multiSegRep.startAt}}</h2>
      </ion-item>

      <ion-item color="white" *ngFor="let seg of multiSegRep.segments">
        <ion-avatar item-start>
          <img [src]="'assets/imgs/colors/' + seg.color + '.png'">
        </ion-avatar>
        <ion-label>{{seg.distance + " " + seg.direction}} </ion-label>
        <ion-input [(ngModel)]="seg.speed" *ngIf="multiSegRep.individualSpeeds" type="number" text-right item-end no-padding placeholder="Enter..."></ion-input>
        <p *ngIf="multiSegRep.individualSpeeds" item-end color="dimgray">{{multiSegRep.speedUnit}}</p>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="!multiSegRep.individualSpeeds" color="white">
      <ion-label color="dark">Speed </ion-label>
      <ion-input text-right type="number" placeholder="Enter..." [(ngModel)]="multiSegRep.overallSpeed"></ion-input>
      <ion-select text-right [(ngModel)]="multiSegRep.speedUnit">
        <ion-option *ngFor="let s of dataService.speedUnitOptionsWithSecs">{{s}}</ion-option>
      </ion-select>
    </ion-item>

    <div class="sep-mini"></div>

    <ion-item *ngIf="multiSegRep.individualSpeeds" color="white" (tap)="multiSegRep.overallSpeed = null">
      <ion-label color="dark">Unit</ion-label>
      <ion-select [(ngModel)]="multiSegRep.speedUnit">
        <ion-option *ngFor="let s of dataService.speedUnitOptionsWithSecs">{{s}}</ion-option>
      </ion-select>
    </ion-item>

  </div>

  <ion-footer>
    <button ion-button large block (click)="addToWorkout()">
      <strong>{{buttonCaption}}</strong>
    </button>
  </ion-footer>