<ion-header>
  <ion-navbar color="primary">
    <ion-title>Record Pattern</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <div class="sep-mini"></div>

  <ion-segment [disabled]="recording" [(ngModel)]="staticOrDynamic">
    <ion-segment-button value="static">Single Light</ion-segment-button>
    <ion-segment-button value="dynamic">Streaming Light</ion-segment-button>
  </ion-segment>

  <div class="sep"></div>
  
    <ion-item color="white">
      <ion-label color="dark">System length</ion-label>
      <ion-select [disabled]="recording" [(ngModel)]="dataService.savedData.systemLength" placeholder="Select..." (ionChange)="updateSystemLength($event)">
        <ion-option *ngFor="let opt of dataService.distanceOptions">{{opt}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="white">
      <ion-label color="dark">Number of sections</ion-label>
      <ion-select [disabled]="recording" [(ngModel)]="dataService.savedData.numSections" placeholder="Select..." (ionChange)="fillLights()">
        <ion-option *ngFor="let sec of dataService.numSectionsOptions">{{sec}}</ion-option>
      </ion-select>
    </ion-item>
  
    <div class="sep"></div>


  <button *ngIf="!recording && staticOrDynamic == 'static'" ion-button class="button-80" color="green" (click)="startRecording()"><strong>Record Single Light Pattern</strong></button>
  <button *ngIf="!recording && staticOrDynamic == 'dynamic'" ion-button class="button-80" color="green" (click)="startRecording()"><strong>Record Streaming Light Pattern</strong></button>
  <button *ngIf="recording" ion-button class="button-80" color="red" (click)="stopRecording()"><strong>Stop Recording</strong></button>
  

  <div class="sep"></div>


  <div *ngIf="recording">

    <div padding class="wrap">
      <div *ngFor="let color of availableColors" class="color-div">
        <button [disabled]="colorButtonsInactive" ion-button block [style.border]="selectedColor == color ? '4px solid black' : ''"
          color="{{color}}" (click)="colorChange(color)">
          <strong>{{color.toUpperCase()}}</strong>
        </button>
      </div>
    </div>

    <div *ngIf="staticOrDynamic == 'dynamic'">
      <div class="sep"></div>
      <ion-row>
        <ion-col>
          <button ion-button large block icon-left (click)="backward()">
            <ion-icon name="arrow-back"></ion-icon> 
            BWD
          </button>
        </ion-col>
        <ion-col>
          <button ion-button large block icon-right (click)="forward()">
            FWD
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>

    <div>
        <div class="wrap" padding>
          <div *ngFor="let light of lights" class="light-div">
            <button [disabled]="staticOrDynamic == 'dynamic'" *ngIf="!light.active" class="remote-button" ion-button outline color="dark" (click)="addToRecord(light)">{{light.id}}</button>
            <button [disabled]="staticOrDynamic == 'dynamic'" *ngIf="light.active" ion-button class="remote-button" color="{{light.color}}" (click)="deactivateInRecord(light)">{{light.id}}</button>
          </div>
        </div>
      </div>

  </div>

</ion-content>