page-rep-dashboard {

    ::-webkit-scrollbar {
        display: none;
    }

    .page {
        height: 100%;
        overflow: hidden;
    }

    .fixed {
        width: 100%;
        height: 70%;
        overflow: hidden;
    }

    .fixed-small {
        width: 100%;
        height: 20%;
        overflow: hidden;
    }

    .scroll {
        width: 100%;
        height: calc(100% - 70%);
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;
    }

    .scroll-large {
        width: 100%;
        height: calc(100% - 20%);
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap; 
    }

}
