<ion-header>
  <ion-navbar color="primary">
    <ion-title>Rep Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>

  <div class="page">

    <ion-card class="warning-card" *ngIf="!connection.activeBoxes.length">
      <ion-card-content>
        Bluetooth is not connected
      </ion-card-content>
    </ion-card>

    <div [ngClass]="configHidden ? {'fixed': false, 'fixed-small': true} : {'fixed': true, 'fixed-small': false} ">

      <ion-list-header color="mediumgray">
        <strong>OPTIONS</strong>
        <button ion-button clear item-right color="white" (click)="showHideConfig()">{{configButton}}</button>
      </ion-list-header>

      <div *ngIf="!configHidden">
        <ion-item-group>
          <ion-item color="white">
            <ion-label color="dark">Countdown</ion-label>
            <ion-select [(ngModel)]="countdownLength">
              <ion-option>None</ion-option>
              <ion-option>3 sec</ion-option>
              <ion-option>5 sec</ion-option>
              <ion-option>10 sec</ion-option>
              <ion-option>15 sec</ion-option>
              <ion-option>30 sec</ion-option>
            </ion-select>
          </ion-item>
          <ion-item color="white">
            <ion-label color="dark">Random hold</ion-label>
            <ion-toggle [(ngModel)]="randomHold"></ion-toggle>
          </ion-item>
          <ion-item color="white">
            <ion-label color="dark">Start LEDs on</ion-label>
            <ion-select [(ngModel)]="startOn">
              <ion-option>End of countdown</ion-option>
              <ion-option>External trigger</ion-option>
            </ion-select>
          </ion-item>
          <ion-item color="white">
            <ion-label color="dark">Play each rep</ion-label>
            <ion-select [(ngModel)]="playEachRep">
              <ion-option selected>1 time</ion-option>
              <ion-option>2 times</ion-option>
              <ion-option>3 times</ion-option>
              <ion-option>4 times</ion-option>
              <ion-option>5 times</ion-option>
              <ion-option>6 times</ion-option>
              <ion-option>7 times</ion-option>
              <ion-option>8 times</ion-option>
              <ion-option>9 times</ion-option>
              <ion-option>10 times</ion-option>
              <ion-option>11 times</ion-option>
              <ion-option>12 times</ion-option>
              <ion-option>13 times</ion-option>
              <ion-option>14 times</ion-option>
              <ion-option>15 times</ion-option>
              <ion-option>16 times</ion-option>
              <ion-option>17 times</ion-option>
              <ion-option>18 times</ion-option>
              <ion-option>19 times</ion-option>
              <ion-option>20 times</ion-option>
            </ion-select>
          </ion-item>
          <ion-item color="white">
            <ion-label color="dark">Auto advance to next rep</ion-label>
            <ion-toggle [(ngModel)]="autoAdvReps"></ion-toggle>
          </ion-item>
          <ion-item color="white">
            <ion-label color="dark">Shuffle reps</ion-label>
            <ion-toggle [(ngModel)]="shuffleReps"></ion-toggle>
          </ion-item>
          <ion-item color="white">
            <ion-label color="dark">Rest time between reps</ion-label>
            <ion-select [(ngModel)]="restMins">
              <ion-option *ngFor="let m of mins">{{m}}</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="restSecs">
              <ion-option *ngFor="let s of secs">{{s}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
      </div>

      <div class="sep"></div>

      <ion-list-header color="mediumgray">
        <strong>REPS</strong>
      </ion-list-header>

    </div>

    <div [ngClass]="configHidden ? {'scroll': false, 'scroll-large': true} : {'scroll': true, 'scroll-large': false} ">

      <ion-list no-lines>
        <ion-item style="border-bottom: 1px solid lightgray" color="white" *ngFor="let rep of workout.repsList">
          <ion-avatar item-start>
            <img [src]="'assets/imgs/colors/' + rep.data.avatarColor + '.png'">
          </ion-avatar>
          <h1 style="font-family: DroidSansMono;">{{rep.display}}</h1>
          <p>{{rep.data.caption}}</p>
          <button ion-button margin-left item-end clear icon-only color="dimgray" (click)="editRep(rep)">
            <ion-icon name="build"></ion-icon>
          </button>
          <button *ngIf="!rep.playing" ion-button margin-left large item-end clear icon-only color="green" (click)="play(rep)">
            <ion-icon name="play"></ion-icon>
          </button>
          <button *ngIf="rep.playing" ion-button margin-left large item-end clear icon-only color="red" (click)="stop(rep)">
            <ion-icon name="square"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

    </div>

  </div>
</ion-content>