page-rep-dashboard {

    ::-webkit-scrollbar {
        display: none;
    }

    .page {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .fixed {
        flex: 0;
        width: 100%;
    }

    .fixed-small {
        width: 100%;
        height: $headings-line-height * 2;
        overflow: hidden;
    }

    .scroll {
       flex: 1;
       overflow-y: scroll;
    }

    .scroll-large {
        width: 100%;
        height: -webkit-calc(100% - ($headings-line-height * 2));
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap; 
    }
}
