<ion-header>
  <ion-navbar color="primary">
    <ion-title>Play Recorded Pattern</ion-title>
    <ion-buttons end>
      <button *ngIf="!connection.activeBoxes.length" margin-right ion-button clear color="yellow" icon-only (click)="noBlePopup()">
        <ion-icon name="warning"></ion-icon>
      </button>
      <button [disabled]="!patternName.length" margin-left ion-button clear icon-only color="white" (click)="openActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <div class="sep"></div>

  <ion-item color="white">
    <ion-label color="dark">Pattern name</ion-label>
    <ion-select text-right placeholder="Select..." [(ngModel)]="patternName" (ionChange)="patternNameUpdated($event)">
      <ion-option *ngFor="let p of savedPatterns">{{p}}</ion-option>
    </ion-select>
  </ion-item>

  <div class="sep-mini"></div>

  <div *ngIf="patternType == 'static'">

    <div class="sep"></div>

    <ion-item color="white">
      <ion-label color="dark">Delay type</ion-label>
      <ion-select [(ngModel)]="delayType" text-right>
        <ion-option>Constant</ion-option>
        <ion-option>Variable</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="delayType == 'Constant'" color="white">
      <ion-label color="dark">Delay length</ion-label>
      <ion-input type="number" text-right placeholder="Enter..." [ngModel]="constDelay" (ngModelChange)="constDelay = convertToNumber($event)"
        (tap)="constDelay = null"></ion-input>
      <p item-end style="margin-bottom: 8px">sec</p>
    </ion-item>

    <ion-item *ngIf="delayType == 'Variable'" color="white">
      <ion-label color="dark">Min delay</ion-label>
      <ion-input type="number" text-right placeholder="Enter..." [ngModel]="minDelay" (ngModelChange)="minDelay = convertToNumber($event)"
        (tap)="minDelay = null"></ion-input>
      <p item-end style="margin-bottom: 8px">sec</p>
    </ion-item>
    <ion-item *ngIf="delayType == 'Variable'" color="white">
      <ion-label color="dark">Max delay</ion-label>
      <ion-input type="number" text-right placeholder="Enter..." [ngModel]="maxDelay" (ngModelChange)="maxDelay = convertToNumber($event)"
        (tap)="maxDelay = null"></ion-input>
      <p item-end style="margin-bottom: 8px">sec</p>
    </ion-item>
  </div>

  <div *ngIf="patternType == 'dynamic'">

    <div class="sep"></div>

    <ion-row>
      <ion-col margin-left>
        <strong>BACKWARD SPEED</strong>
      </ion-col>
      <ion-col margin-left>
        <strong>FORWARD SPEED</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-item no-lines>
            <ion-label stacked></ion-label>
            <ion-input class="white-field" type="number" [ngModel]="backwardSpeed" (ngModelChange)="backwardSpeed = convertToNumber($event)"
              (tap)="backwardSpeed = null" text-right placeholder="Enter..."></ion-input>
            <ion-select class="white-field" margin-top text-right [(ngModel)]="backwardSpeedUnit">
              <ion-option *ngFor="let s of dataService.speedUnitOptions">{{s}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-item no-lines>
            <ion-label stacked></ion-label>
            <ion-input class="white-field" type="number" [ngModel]="forwardSpeed" (ngModelChange)="forwardSpeed = convertToNumber($event)"
              (tap)="forwardSpeed = null" text-right placeholder="Enter..."></ion-input>
            <ion-select class="white-field" margin-top text-right [(ngModel)]="forwardSpeedUnit">
              <ion-option *ngFor="let s of dataService.speedUnitOptions">{{s}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div class="sep-large"></div>

  <button *ngIf="!playing" ion-button large class="button-80" color="green" (click)="play()">
    <strong>Play</strong>
  </button>
  <button *ngIf="playing" ion-button large class="button-80" color="red" (click)="stop()">
    <strong>Stop</strong>
  </button>

</ion-content>